<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Business" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1>Terrence R. Mooney CPA</h1>
      </div>
    </div>

    <%= render partial: "nav", locals: {active: @active} %>

    <%= yield %>

    <div class="footer">
      <div class="row">
        <div class="large-12 columns text-center">
           <p class="copyright">&copy; 1978&dash;2013 Terrence R. Mooney CPA | All Rights Reserved | Certified Public Accountant<br>
           247 New Jersey Avenue, Absecon, NJ 08201 | (609) 407-0056</p>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
