<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Titan Shoring" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%#= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <a href="/home"><h1>Titan Shoring & Construction, LLC</h1></a>
      </div>
    </div>

    <%= render partial: "nav", locals: {active: @active} %>

    <%= yield %>

    <div class="footer">
      <div class="row">
        <div class="large-12 columns text-center">
           <p class="copyright">&copy; 2014 Titan Shoring & Construction, LLC | All Rights Reserved<br>
           1409 Doughty Road Egg Harbor Township, New Jersey 08234 | (609) 641-4343</p>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "application" %>

    <script src="/assets/jquery.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
